html,
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
main {
  height: 100vh;
  width: 100vw;
  background-color: #d5e1ef;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
}
.container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 27rem;
  width: 20rem;
  background-color: #fff;
  border-radius: 15px;
}
.container > img {
  height: 15rem;
  width: 17rem;
  margin-top: 15px;
  border-radius: 15px;
}
img,
h2,
p {
  margin-left: 1.4rem;
}
p {
  margin-top: auto;
  line-height: 5px;
}
